In [1]:
import pandas as pd

# Load dataset.csv
dataset = pd.read_csv('dataset.csv')

# Load CNN_Model_Train_Data.csv
cnn_train_data = pd.read_csv('CNN_Model_Train_Data.csv')

# Inspect the first few rows
print(dataset.head(8))
print(cnn_train_data.head(8))

# Check column names and data types
print(dataset.info())
print(cnn_train_data.info())

  InvoiceNo StockCode                           Description Quantity  \
0    536365    85123A    WHITE HANGING HEART T-LIGHT HOLDER        6
1    536365     71053                   WHITE METAL LANTERN        6
2    536365  ö84406B^        CREAM CUPID HEARTS COAT HANGER        8
3    536365    84029G  $KNITTED UNION FLAG HOT WATER BOTTLE       6@
4    536365    84029E       $RED WOOLLY HOTTIE WHITE HEART.       6@
5    536365     22752          SET 7 BABUSHKA NESTING BOXES       2@
6   536365ä   ö21730^    $GLASS STAR FROSTED T-LIGHT HOLDER       6@
7   536366ä     22633                HAND WARMER UNION JACK        6

           InvoiceDate UnitPrice CustomerID              Country
0  2010-12-01 08:26:00      2.55    17850.0  XxYUnited Kingdom☺️
1  2010-12-01 08:26:00      3.39    17850.0       United Kingdom
2  2010-12-01 08:26:00      2.75  &17850.0#  XxYUnited Kingdom☺️
3  2010-12-01 08:26:00      3.39    17850.0       United Kingdom
4  2010-12-01 08:26:00      3.39  &17850.0#       United Kingdom
5  2010-12-01 08:26:00      7.65    17850.0  XxYUnited Kingdom☺️
6  2010-12-01 08:26:00    Ww4.25  &17850.0#  XxYUnited Kingdom☺️
7  2010-12-01 08:28:00      1.85    17850.0       United Kingdom
  StockCode
0   ö22384^
1   ö22727^
2   ö22112^
3   ö23298^
4   ö20726^
5   ö21034^
6   ö21931^
7   ö22139^
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540884 non-null  object
 3   Quantity     541909 non-null  object
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  object
 6   CustomerID   433909 non-null  object
 7   Country      541909 non-null  object
dtypes: object(8)
memory usage: 33.1+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 1 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   StockCode  10 non-null     object
dtypes: object(1)
memory usage: 212.0+ bytes
None

In [2]:
dataset.shape

(541909, 8)

In [3]:
dataset = dataset.drop_duplicates()

In [4]:
print(dataset.isnull().sum())

InvoiceNo           0
StockCode           0
Description      1025
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     108000
Country             0
dtype: int64

In [5]:
# Create a mapping of StockCode to Description
code_to_desc = dataset.dropna().groupby('StockCode')['Description'].first().to_dict()

# Fill missing descriptions using the mapping
dataset['Description'] = dataset.apply(
    lambda row: code_to_desc.get(row['StockCode'], 'Unknown') 
    if pd.isnull(row['Description']) else row['Description'],
    axis=1
)

In [6]:
print(dataset.isnull().sum())

InvoiceNo           0
StockCode           0
Description         0
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     108000
Country             0
dtype: int64

In [7]:


dataset['Quantity'] = pd.to_numeric(dataset['Quantity'], errors='coerce')
dataset['UnitPrice'] = pd.to_numeric(dataset['UnitPrice'], errors='coerce')

In [8]:
dataset= dataset[(dataset['Quantity'] > 0) & (dataset['UnitPrice'] > 0)]

In [9]:
dataset.shape

(254401, 8)

In [10]:
dataset.head(10)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6.0,2010-12-01 08:26:00,2.55,17850.0,XxYUnited Kingdom☺️
1,536365,71053,WHITE METAL LANTERN,6.0,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,ö84406B^,CREAM CUPID HEARTS COAT HANGER,8.0,2010-12-01 08:26:00,2.75,&17850.0#,XxYUnited Kingdom☺️
7,536366ä,22633,HAND WARMER UNION JACK,6.0,2010-12-01 08:28:00,1.85,17850.0,United Kingdom
8,536366ä,ö22632^,HAND WARMER RED POLKA DOT,6.0,2010-12-01 08:28:00,1.85,17850.0,XxYUnited Kingdom☺️
9,536367ä,ö84879^,$ASSORTED COLOUR BIRD ORNAMENT,32.0,2010-12-01 08:34:00,1.69,13047.0,XxYUnited Kingdom☺️
11,536367ä,22748,$POPPY'S PLAYHOUSE KITCHEN,6.0,2010-12-01 08:34:00,2.10,&13047.0#,XxYUnited Kingdom☺️
14,536367ä,ö84969^,BOX OF 6 ASSORTED COLOUR TEASPOONS,6.0,2010-12-01 08:34:00,4.25,13047.0,XxYUnited Kingdom☺️
16,536367,ö22622^,BOX OF VINTAGE ALPHABET BLOCKS,2.0,2010-12-01 08:34:00,9.95,13047.0,United Kingdom
17,536367ä,21754,HOME BUILDING BLOCK WORD,3.0,2010-12-01 08:34:00,5.95,13047.0,XxYUnited Kingdom☺️

In [11]:
print(dataset.head())
print(dataset[['Quantity', 'UnitPrice']].describe())

  InvoiceNo StockCode                         Description  Quantity  \
0    536365    85123A  WHITE HANGING HEART T-LIGHT HOLDER       6.0
1    536365     71053                 WHITE METAL LANTERN       6.0
2    536365  ö84406B^      CREAM CUPID HEARTS COAT HANGER       8.0
7   536366ä     22633              HAND WARMER UNION JACK       6.0
8   536366ä   ö22632^           HAND WARMER RED POLKA DOT       6.0

           InvoiceDate  UnitPrice CustomerID              Country
0  2010-12-01 08:26:00       2.55    17850.0  XxYUnited Kingdom☺️
1  2010-12-01 08:26:00       3.39    17850.0       United Kingdom
2  2010-12-01 08:26:00       2.75  &17850.0#  XxYUnited Kingdom☺️
7  2010-12-01 08:28:00       1.85    17850.0       United Kingdom
8  2010-12-01 08:28:00       1.85    17850.0  XxYUnited Kingdom☺️
            Quantity      UnitPrice
count  254401.000000  254401.000000
mean       10.590819       3.855322
std       164.928381      24.321196
min         1.000000       0.001000
25%         1.000000       1.250000
50%         3.000000       2.080000
75%        10.000000       4.130000
max     80995.000000    4287.630000

In [12]:
dataset.head(20)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6.0,2010-12-01 08:26:00,2.55,17850.0,XxYUnited Kingdom☺️
1,536365,71053,WHITE METAL LANTERN,6.0,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,ö84406B^,CREAM CUPID HEARTS COAT HANGER,8.0,2010-12-01 08:26:00,2.75,&17850.0#,XxYUnited Kingdom☺️
7,536366ä,22633,HAND WARMER UNION JACK,6.0,2010-12-01 08:28:00,1.85,17850.0,United Kingdom
8,536366ä,ö22632^,HAND WARMER RED POLKA DOT,6.0,2010-12-01 08:28:00,1.85,17850.0,XxYUnited Kingdom☺️
9,536367ä,ö84879^,$ASSORTED COLOUR BIRD ORNAMENT,32.0,2010-12-01 08:34:00,1.69,13047.0,XxYUnited Kingdom☺️
11,536367ä,22748,$POPPY'S PLAYHOUSE KITCHEN,6.0,2010-12-01 08:34:00,2.10,&13047.0#,XxYUnited Kingdom☺️
14,536367ä,ö84969^,BOX OF 6 ASSORTED COLOUR TEASPOONS,6.0,2010-12-01 08:34:00,4.25,13047.0,XxYUnited Kingdom☺️
16,536367,ö22622^,BOX OF VINTAGE ALPHABET BLOCKS,2.0,2010-12-01 08:34:00,9.95,13047.0,United Kingdom
17,536367ä,21754,HOME BUILDING BLOCK WORD,3.0,2010-12-01 08:34:00,5.95,13047.0,XxYUnited Kingdom☺️
18,536367,21755,LOVE BUILDING BLOCK WORD,3.0,2010-12-01 08:34:00,5.95,13047.0,United Kingdom
20,536367ä,48187,DOORMAT NEW ENGLAND,4.0,2010-12-01 08:34:00,7.95,13047.0,United Kingdom
21,536368ä,22960,JAM MAKING SET WITH JARS,6.0,2010-12-01 08:34:00,4.25,&13047.0#,United Kingdom
22,536368,22913,$RED COAT RACK PARIS FASHION,3.0,2010-12-01 08:34:00,4.95,13047.0,United Kingdom
23,536368,22912,YELLOW COAT RACK PARIS FASHION,3.0,2010-12-01 08:34:00,4.95,13047.0,XxYUnited Kingdom☺️
24,536368,22914,BLUE COAT RACK PARIS FASHION,3.0,2010-12-01 08:34:00,4.95,13047.0,United Kingdom
26,536370,ö22728^,ALARM CLOCK BAKELIKE PINK,24.0,2010-12-01 08:45:00,3.75,&12583.0#,France
27,536370ä,ö22727^,ALARM CLOCK BAKELIKE RED,24.0,2010-12-01 08:45:00,3.75,&12583.0#,XxYFrance☺️
33,536370,21035,$SET/2 RED RETROSPOT TEA TOWELS,18.0,2010-12-01 08:45:00,2.95,12583.0,France
36,536370,22659,LUNCH BOX I LOVE LONDON,24.0,2010-12-01 08:45:00,1.95,12583.0,France

In [13]:

# Remove special characters from all string columns
import re as re
def clean_text(text):
    if isinstance(text, str):
        return re.sub(r'[^A-Za-z0-9., ]+', '', text)
    return text

dataset = dataset.applymap(clean_text)

# Convert data types
dataset['InvoiceDate'] = pd.to_datetime(dataset['InvoiceDate'], errors='coerce')
dataset['Quantity'] = pd.to_numeric(dataset['Quantity'], errors='coerce')
dataset['UnitPrice'] = pd.to_numeric(dataset['UnitPrice'], errors='coerce')

C:\Users\USER\AppData\Local\Temp\ipykernel_14128\3433977895.py:8: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  dataset = dataset.applymap(clean_text)

In [14]:
dataset.head(10)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART TLIGHT HOLDER,6.0,2010-12-01 08:26:00,2.55,17850.0,XxYUnited Kingdom
1,536365,71053,WHITE METAL LANTERN,6.0,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8.0,2010-12-01 08:26:00,2.75,17850.0,XxYUnited Kingdom
7,536366,22633,HAND WARMER UNION JACK,6.0,2010-12-01 08:28:00,1.85,17850.0,United Kingdom
8,536366,22632,HAND WARMER RED POLKA DOT,6.0,2010-12-01 08:28:00,1.85,17850.0,XxYUnited Kingdom
9,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32.0,2010-12-01 08:34:00,1.69,13047.0,XxYUnited Kingdom
11,536367,22748,POPPYS PLAYHOUSE KITCHEN,6.0,2010-12-01 08:34:00,2.10,13047.0,XxYUnited Kingdom
14,536367,84969,BOX OF 6 ASSORTED COLOUR TEASPOONS,6.0,2010-12-01 08:34:00,4.25,13047.0,XxYUnited Kingdom
16,536367,22622,BOX OF VINTAGE ALPHABET BLOCKS,2.0,2010-12-01 08:34:00,9.95,13047.0,United Kingdom
17,536367,21754,HOME BUILDING BLOCK WORD,3.0,2010-12-01 08:34:00,5.95,13047.0,XxYUnited Kingdom

In [15]:
dataset.tail(20)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
541870,581585,22915,ASSORTED BOTTLE TOP MAGNETS,24.0,2011-12-09 12:31:00,0.19,15804.0,United Kingdom
541871,581585,22178,VICTORIAN GLASS HANGING TLIGHT,12.0,2011-12-09 12:31:00,1.95,15804.0,United Kingdom
541872,581585,22460,EMBOSSED GLASS TEALIGHT HOLDER,12.0,2011-12-09 12:31:00,1.25,15804.0,XxYUnited Kingdom
541874,581585,23084,RABBIT NIGHT LIGHT,12.0,2011-12-09 12:31:00,2.08,15804.0,XxYUnited Kingdom
541876,581585,84945,MULTI COLOUR SILVER TLIGHT HOLDER,24.0,2011-12-09 12:31:00,0.85,15804.0,XxYUnited Kingdom
541878,581585,23356,LOVE HOT WATER BOTTLE,3.0,2011-12-09 12:31:00,5.95,15804.0,XxYUnited Kingdom
541884,581585,84946,ANTIQUE SILVER TLIGHT GLASS,12.0,2011-12-09 12:31:00,1.25,15804.0,XxYUnited Kingdom
541888,581585,23145,ZINC TLIGHT HOLDER STAR LARGE,12.0,2011-12-09 12:31:00,0.95,15804.0,XxYUnited Kingdom
541892,581586,21217,RED RETROSPOT ROUND CAKE TINS,24.0,2011-12-09 12:49:00,8.95,13113.0,XxYUnited Kingdom
541895,581587,22556,PLASTERS IN TIN CIRCUS PARADE,12.0,2011-12-09 12:50:00,1.65,12680.0,France
541896,581587,22555,PLASTERS IN TIN STRONGMAN,12.0,2011-12-09 12:50:00,1.65,12680.0,France
541897,581587,22728,ALARM CLOCK BAKELIKE PINK,4.0,2011-12-09 12:50:00,3.75,12680.0,France
541899,581587,22726,ALARM CLOCK BAKELIKE GREEN,4.0,2011-12-09 12:50:00,3.75,12680.0,France
541900,581587,22730,ALARM CLOCK BAKELIKE IVORY,4.0,2011-12-09 12:50:00,3.75,12680.0,XxYFrance
541901,581587,22367,CHILDRENS APRON SPACEBOY DESIGN,8.0,2011-12-09 12:50:00,1.95,12680.0,France
541902,581587,22629,SPACEBOY LUNCH BOX,12.0,2011-12-09 12:50:00,1.95,12680.0,XxYFrance
541903,581587,23256,CHILDRENS CUTLERY SPACEBOY,4.0,2011-12-09 12:50:00,4.15,12680.0,XxYFrance
541905,581587,22899,CHILDRENS APRON DOLLY GIRL,6.0,2011-12-09 12:50:00,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4.0,2011-12-09 12:50:00,4.15,12680.0,XxYFrance
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4.0,2011-12-09 12:50:00,4.15,12680.0,XxYFrance

In [16]:
dataset.head(10)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART TLIGHT HOLDER,6.0,2010-12-01 08:26:00,2.55,17850.0,XxYUnited Kingdom
1,536365,71053,WHITE METAL LANTERN,6.0,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8.0,2010-12-01 08:26:00,2.75,17850.0,XxYUnited Kingdom
7,536366,22633,HAND WARMER UNION JACK,6.0,2010-12-01 08:28:00,1.85,17850.0,United Kingdom
8,536366,22632,HAND WARMER RED POLKA DOT,6.0,2010-12-01 08:28:00,1.85,17850.0,XxYUnited Kingdom
9,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32.0,2010-12-01 08:34:00,1.69,13047.0,XxYUnited Kingdom
11,536367,22748,POPPYS PLAYHOUSE KITCHEN,6.0,2010-12-01 08:34:00,2.10,13047.0,XxYUnited Kingdom
14,536367,84969,BOX OF 6 ASSORTED COLOUR TEASPOONS,6.0,2010-12-01 08:34:00,4.25,13047.0,XxYUnited Kingdom
16,536367,22622,BOX OF VINTAGE ALPHABET BLOCKS,2.0,2010-12-01 08:34:00,9.95,13047.0,United Kingdom
17,536367,21754,HOME BUILDING BLOCK WORD,3.0,2010-12-01 08:34:00,5.95,13047.0,XxYUnited Kingdom

In [17]:
dataset.shape

(254401, 8)

In [18]:



# Clean text columns by removing special characters
def clean_text(text):
    if isinstance(text, str):
        return re.sub(r'[^A-Za-z0-9., ]+', '', text)
    return text

dataset = dataset.applymap(clean_text)

# Convert data types
for col in ['InvoiceDate', 'Quantity', 'UnitPrice']:
    if col == 'InvoiceDate':
        dataset[col] = pd.to_datetime(dataset[col], errors='coerce')
    else:
        dataset[col] = pd.to_numeric(dataset[col], errors='coerce')

C:\Users\USER\AppData\Local\Temp\ipykernel_14128\2488589016.py:7: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  dataset = dataset.applymap(clean_text)

In [19]:
dataset.head(9)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART TLIGHT HOLDER,6.0,2010-12-01 08:26:00,2.55,17850.0,XxYUnited Kingdom
1,536365,71053,WHITE METAL LANTERN,6.0,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8.0,2010-12-01 08:26:00,2.75,17850.0,XxYUnited Kingdom
7,536366,22633,HAND WARMER UNION JACK,6.0,2010-12-01 08:28:00,1.85,17850.0,United Kingdom
8,536366,22632,HAND WARMER RED POLKA DOT,6.0,2010-12-01 08:28:00,1.85,17850.0,XxYUnited Kingdom
9,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32.0,2010-12-01 08:34:00,1.69,13047.0,XxYUnited Kingdom
11,536367,22748,POPPYS PLAYHOUSE KITCHEN,6.0,2010-12-01 08:34:00,2.10,13047.0,XxYUnited Kingdom
14,536367,84969,BOX OF 6 ASSORTED COLOUR TEASPOONS,6.0,2010-12-01 08:34:00,4.25,13047.0,XxYUnited Kingdom
16,536367,22622,BOX OF VINTAGE ALPHABET BLOCKS,2.0,2010-12-01 08:34:00,9.95,13047.0,United Kingdom

In [20]:
# Clean 'Country' column by removing 'XxY'
dataset['Country'] = dataset['Country'].str.replace(r'XxY', '', regex=True)

In [21]:
dataset.head

<bound method NDFrame.head of        InvoiceNo StockCode                        Description  Quantity  \
0         536365    85123A  WHITE HANGING HEART TLIGHT HOLDER       6.0
1         536365     71053                WHITE METAL LANTERN       6.0
2         536365    84406B     CREAM CUPID HEARTS COAT HANGER       8.0
7         536366     22633             HAND WARMER UNION JACK       6.0
8         536366     22632          HAND WARMER RED POLKA DOT       6.0
...          ...       ...                                ...       ...
541902    581587     22629                SPACEBOY LUNCH BOX       12.0
541903    581587     23256        CHILDRENS CUTLERY SPACEBOY        4.0
541905    581587     22899        CHILDRENS APRON DOLLY GIRL        6.0
541906    581587     23254      CHILDRENS CUTLERY DOLLY GIRL        4.0
541907    581587     23255    CHILDRENS CUTLERY CIRCUS PARADE       4.0

               InvoiceDate  UnitPrice CustomerID         Country
0      2010-12-01 08:26:00       2.55    17850.0  United Kingdom
1      2010-12-01 08:26:00       3.39    17850.0  United Kingdom
2      2010-12-01 08:26:00       2.75    17850.0  United Kingdom
7      2010-12-01 08:28:00       1.85    17850.0  United Kingdom
8      2010-12-01 08:28:00       1.85    17850.0  United Kingdom
...                    ...        ...        ...             ...
541902 2011-12-09 12:50:00       1.95    12680.0          France
541903 2011-12-09 12:50:00       4.15    12680.0          France
541905 2011-12-09 12:50:00       2.10    12680.0          France
541906 2011-12-09 12:50:00       4.15    12680.0          France
541907 2011-12-09 12:50:00       4.15    12680.0          France

[254401 rows x 8 columns]>

In [22]:
# Display cleaned data
print(dataset.head())

  InvoiceNo StockCode                        Description  Quantity  \
0    536365    85123A  WHITE HANGING HEART TLIGHT HOLDER       6.0
1    536365     71053                WHITE METAL LANTERN       6.0
2    536365    84406B     CREAM CUPID HEARTS COAT HANGER       8.0
7    536366     22633             HAND WARMER UNION JACK       6.0
8    536366     22632          HAND WARMER RED POLKA DOT       6.0

          InvoiceDate  UnitPrice CustomerID         Country
0 2010-12-01 08:26:00       2.55    17850.0  United Kingdom
1 2010-12-01 08:26:00       3.39    17850.0  United Kingdom
2 2010-12-01 08:26:00       2.75    17850.0  United Kingdom
7 2010-12-01 08:28:00       1.85    17850.0  United Kingdom
8 2010-12-01 08:28:00       1.85    17850.0  United Kingdom

In [23]:
cleaned_data = dataset.to_csv(index=False)

In [24]:
dataset.to_csv('clean dataset.csv', index=False)

In [25]:
cleaned_dataset = pd.read_csv('clean dataset.csv')

In [26]:
cleaned_dataset.head(70)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART TLIGHT HOLDER,6.0,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6.0,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8.0,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536366,22633,HAND WARMER UNION JACK,6.0,2010-12-01 08:28:00,1.85,17850.0,United Kingdom
4,536366,22632,HAND WARMER RED POLKA DOT,6.0,2010-12-01 08:28:00,1.85,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
65,536381,22261,FELT EGG COSY WHITE RABBIT,1.0,2010-12-01 09:41:00,0.85,15311.0,United Kingdom
66,536381,15056BL,EDWARDIAN PARASOL BLACK,2.0,2010-12-01 09:41:00,5.95,15311.0,United Kingdom
67,536381,22438,BALLOON ART MAKE YOUR OWN FLOWERS,1.0,2010-12-01 09:41:00,1.95,15311.0,United Kingdom
68,536381,22778,GLASS CLOCHE SMALL,3.0,2010-12-01 09:41:00,3.95,15311.0,United Kingdom
69,536382,10002,INFLATABLE POLITICAL GLOBE,12.0,2010-12-01 09:45:00,0.85,16098.0,United Kingdom

In [27]:
cleaned_dataset.tail(40)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
254361,581579,22083,PAPER CHAIN KIT RETROSPOT,6.0,2011-12-09 12:19:00,2.95,17581.0,United Kingdom
254362,581579,23376,PACK OF 12 VINTAGE CHRISTMAS TISSUE,24.0,2011-12-09 12:19:00,0.39,17581.0,United Kingdom
254363,581579,23201,JUMBO BAG ALPHABET,20.0,2011-12-09 12:19:00,1.79,17581.0,United Kingdom
254364,581579,23344,JUMBO BAG 50S CHRISTMAS,20.0,2011-12-09 12:19:00,1.79,17581.0,United Kingdom
254365,581579,23581,JUMBO BAG PAISLEY PARK,40.0,2011-12-09 12:19:00,1.79,17581.0,United Kingdom
254366,581580,21790,VINTAGE SNAP CARDS,1.0,2011-12-09 12:20:00,0.85,12748.0,United Kingdom
254367,581580,22906,12 MESSAGE CARDS WITH ENVELOPES,1.0,2011-12-09 12:20:00,1.65,12748.0,United Kingdom
254368,581580,85049A,TRADITIONAL CHRISTMAS RIBBONS,1.0,2011-12-09 12:20:00,1.25,12748.0,United Kingdom
254369,581580,22144,CHRISTMAS CRAFT LITTLE FRIENDS,1.0,2011-12-09 12:20:00,2.10,12748.0,United Kingdom
254370,581580,22908,PACK OF 20 NAPKINS RED APPLES,2.0,2011-12-09 12:20:00,0.85,12748.0,United Kingdom
254371,581580,22894,TABLECLOTH RED APPLES DESIGN,2.0,2011-12-09 12:20:00,9.95,12748.0,United Kingdom
254372,581580,22704,WRAP RED APPLES,25.0,2011-12-09 12:20:00,0.42,12748.0,United Kingdom
254373,581580,22721,SET OF 3 CAKE TINS SKETCHBOOK,1.0,2011-12-09 12:20:00,1.95,12748.0,United Kingdom
254374,581580,22816,CARD MOTORBIKE SANTA,24.0,2011-12-09 12:20:00,0.42,12748.0,United Kingdom
254375,581580,21351,CINAMMON ORANGE WREATH,1.0,2011-12-09 12:20:00,6.75,12748.0,United Kingdom
254376,581580,22698,PINK REGENCY TEACUP AND SAUCER,1.0,2011-12-09 12:20:00,2.95,12748.0,United Kingdom
254377,581580,22567,20 DOLLY PEGS RETROSPOT,1.0,2011-12-09 12:20:00,1.45,12748.0,United Kingdom
254378,581581,23562,SET OF 6 RIBBONS PERFECTLY PRETTY,6.0,2011-12-09 12:20:00,2.89,17581.0,United Kingdom
254379,581581,23681,LUNCH BAG RED VINTAGE DOILY,10.0,2011-12-09 12:20:00,1.65,17581.0,United Kingdom
254380,581584,20832,RED FLOCK LOVE HEART PHOTO FRAME,72.0,2011-12-09 12:25:00,0.72,13777.0,United Kingdom
254381,581585,22915,ASSORTED BOTTLE TOP MAGNETS,24.0,2011-12-09 12:31:00,0.19,15804.0,United Kingdom
254382,581585,22178,VICTORIAN GLASS HANGING TLIGHT,12.0,2011-12-09 12:31:00,1.95,15804.0,United Kingdom
254383,581585,22460,EMBOSSED GLASS TEALIGHT HOLDER,12.0,2011-12-09 12:31:00,1.25,15804.0,United Kingdom
254384,581585,23084,RABBIT NIGHT LIGHT,12.0,2011-12-09 12:31:00,2.08,15804.0,United Kingdom
254385,581585,84945,MULTI COLOUR SILVER TLIGHT HOLDER,24.0,2011-12-09 12:31:00,0.85,15804.0,United Kingdom
254386,581585,23356,LOVE HOT WATER BOTTLE,3.0,2011-12-09 12:31:00,5.95,15804.0,United Kingdom
254387,581585,84946,ANTIQUE SILVER TLIGHT GLASS,12.0,2011-12-09 12:31:00,1.25,15804.0,United Kingdom
254388,581585,23145,ZINC TLIGHT HOLDER STAR LARGE,12.0,2011-12-09 12:31:00,0.95,15804.0,United Kingdom
254389,581586,21217,RED RETROSPOT ROUND CAKE TINS,24.0,2011-12-09 12:49:00,8.95,13113.0,United Kingdom
254390,581587,22556,PLASTERS IN TIN CIRCUS PARADE,12.0,2011-12-09 12:50:00,1.65,12680.0,France
254391,581587,22555,PLASTERS IN TIN STRONGMAN,12.0,2011-12-09 12:50:00,1.65,12680.0,France
254392,581587,22728,ALARM CLOCK BAKELIKE PINK,4.0,2011-12-09 12:50:00,3.75,12680.0,France
254393,581587,22726,ALARM CLOCK BAKELIKE GREEN,4.0,2011-12-09 12:50:00,3.75,12680.0,France
254394,581587,22730,ALARM CLOCK BAKELIKE IVORY,4.0,2011-12-09 12:50:00,3.75,12680.0,France
254395,581587,22367,CHILDRENS APRON SPACEBOY DESIGN,8.0,2011-12-09 12:50:00,1.95,12680.0,France
254396,581587,22629,SPACEBOY LUNCH BOX,12.0,2011-12-09 12:50:00,1.95,12680.0,France
254397,581587,23256,CHILDRENS CUTLERY SPACEBOY,4.0,2011-12-09 12:50:00,4.15,12680.0,France
254398,581587,22899,CHILDRENS APRON DOLLY GIRL,6.0,2011-12-09 12:50:00,2.10,12680.0,France
254399,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4.0,2011-12-09 12:50:00,4.15,12680.0,France
254400,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4.0,2011-12-09 12:50:00,4.15,12680.0,France

In [28]:
cleaned_dataset= cleaned_dataset.dropna(subset=['CustomerID'])

In [29]:
print(cleaned_dataset.isnull().sum())

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

In [31]:
# Convert InvoiceDate to datetime
cleaned_dataset['InvoiceDate'] = pd.to_datetime(cleaned_dataset['InvoiceDate'])

# Split into Date and Time columns
cleaned_dataset['Date'] = cleaned_dataset['InvoiceDate'].dt.date
cleaned_dataset['Time'] = cleaned_dataset['InvoiceDate'].dt.time

# Drop the original InvoiceDate column (optional)
cleaned_dataset.drop('InvoiceDate', axis=1, inplace=True)

print(cleaned_dataset)

        InvoiceNo StockCode                        Description  Quantity  \
0          536365    85123A  WHITE HANGING HEART TLIGHT HOLDER       6.0
1          536365     71053                WHITE METAL LANTERN       6.0
2          536365    84406B     CREAM CUPID HEARTS COAT HANGER       8.0
3          536366     22633             HAND WARMER UNION JACK       6.0
4          536366     22632          HAND WARMER RED POLKA DOT       6.0
...           ...       ...                                ...       ...
254396     581587     22629                SPACEBOY LUNCH BOX       12.0
254397     581587     23256        CHILDRENS CUTLERY SPACEBOY        4.0
254398     581587     22899        CHILDRENS APRON DOLLY GIRL        6.0
254399     581587     23254      CHILDRENS CUTLERY DOLLY GIRL        4.0
254400     581587     23255    CHILDRENS CUTLERY CIRCUS PARADE       4.0

        UnitPrice  CustomerID         Country        Date      Time
0            2.55     17850.0  United Kingdom  2010-12-01  08:26:00
1            3.39     17850.0  United Kingdom  2010-12-01  08:26:00
2            2.75     17850.0  United Kingdom  2010-12-01  08:26:00
3            1.85     17850.0  United Kingdom  2010-12-01  08:28:00
4            1.85     17850.0  United Kingdom  2010-12-01  08:28:00
...           ...         ...             ...         ...       ...
254396       1.95     12680.0          France  2011-12-09  12:50:00
254397       4.15     12680.0          France  2011-12-09  12:50:00
254398       2.10     12680.0          France  2011-12-09  12:50:00
254399       4.15     12680.0          France  2011-12-09  12:50:00
254400       4.15     12680.0          France  2011-12-09  12:50:00

[190741 rows x 9 columns]

In [33]:
# Save the cleaned data to a new CSV file
cleaned_dataset.to_csv('cleaned_data.csv', index=False)

print("The cleaned data has been saved to 'cleaned_invoice_data.csv'.")

The cleaned data has been saved to 'cleaned_invoice_data.csv'.

In [34]:
cleaned_dataset.head(20)

,InvoiceNo,StockCode,Description,Quantity,UnitPrice,CustomerID,Country,Date,Time
0,536365,85123A,WHITE HANGING HEART TLIGHT HOLDER,6.0,2.55,17850.0,United Kingdom,2010-12-01,08:26:00
1,536365,71053,WHITE METAL LANTERN,6.0,3.39,17850.0,United Kingdom,2010-12-01,08:26:00
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8.0,2.75,17850.0,United Kingdom,2010-12-01,08:26:00
3,536366,22633,HAND WARMER UNION JACK,6.0,1.85,17850.0,United Kingdom,2010-12-01,08:28:00
4,536366,22632,HAND WARMER RED POLKA DOT,6.0,1.85,17850.0,United Kingdom,2010-12-01,08:28:00
5,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32.0,1.69,13047.0,United Kingdom,2010-12-01,08:34:00
6,536367,22748,POPPYS PLAYHOUSE KITCHEN,6.0,2.10,13047.0,United Kingdom,2010-12-01,08:34:00
7,536367,84969,BOX OF 6 ASSORTED COLOUR TEASPOONS,6.0,4.25,13047.0,United Kingdom,2010-12-01,08:34:00
8,536367,22622,BOX OF VINTAGE ALPHABET BLOCKS,2.0,9.95,13047.0,United Kingdom,2010-12-01,08:34:00
9,536367,21754,HOME BUILDING BLOCK WORD,3.0,5.95,13047.0,United Kingdom,2010-12-01,08:34:00
10,536367,21755,LOVE BUILDING BLOCK WORD,3.0,5.95,13047.0,United Kingdom,2010-12-01,08:34:00
11,536367,48187,DOORMAT NEW ENGLAND,4.0,7.95,13047.0,United Kingdom,2010-12-01,08:34:00
12,536368,22960,JAM MAKING SET WITH JARS,6.0,4.25,13047.0,United Kingdom,2010-12-01,08:34:00
13,536368,22913,RED COAT RACK PARIS FASHION,3.0,4.95,13047.0,United Kingdom,2010-12-01,08:34:00
14,536368,22912,YELLOW COAT RACK PARIS FASHION,3.0,4.95,13047.0,United Kingdom,2010-12-01,08:34:00
15,536368,22914,BLUE COAT RACK PARIS FASHION,3.0,4.95,13047.0,United Kingdom,2010-12-01,08:34:00
16,536370,22728,ALARM CLOCK BAKELIKE PINK,24.0,3.75,12583.0,France,2010-12-01,08:45:00
17,536370,22727,ALARM CLOCK BAKELIKE RED,24.0,3.75,12583.0,France,2010-12-01,08:45:00
18,536370,21035,SET2 RED RETROSPOT TEA TOWELS,18.0,2.95,12583.0,France,2010-12-01,08:45:00
19,536370,22659,LUNCH BOX I LOVE LONDON,24.0,1.95,12583.0,France,2010-12-01,08:45:00

In [35]:
cleaned_dataset.shape

(190741, 9)

CNN modeling

In [36]:
CNN = pd.read_csv('CNN_Model_Train_Data.csv')

In [39]:
CNN

  StockCode
0   ö22384^
1   ö22727^
2   ö22112^
3   ö23298^
4   ö20726^
5   ö21034^
6   ö21931^
7   ö22139^
8   ö22077^
9   ö22423^

In [44]:
import chardet

with open("CNN_Model_Train_Data.csv", "rb") as f:
    result = chardet.detect(f.read(10000))  # Read a sample to detect encoding
    print(result)

{'encoding': 'utf-8', 'confidence': 0.99, 'language': ''}

In [45]:
CNN = pd.read_csv("CNN_Model_Train_Data.csv", encoding="utf-8")

In [49]:
CNN["StockCode"] = CNN["StockCode"].str.replace(r"[^\w\d]", "", regex=True)

In [52]:
CNN["StockCode"] = CNN["StockCode"].str.replace(r"[^\d]", "", regex=True)

In [54]:
print(CNN)

  StockCode
0     22384
1     22727
2     22112
3     23298
4     20726
5     21034
6     21931
7     22139
8     22077
9     22423

In [55]:
CNN["StockCode"] = CNN["StockCode"].astype(int)

In [56]:
print(CNN["StockCode"].nunique())  # Count of unique stock codes
print(CNN["StockCode"].unique()[:10])  # Preview first 10 unique stock codes

10
[22384 22727 22112 23298 20726 21034 21931 22139 22077 22423]

In [57]:
import pandas as pd
import numpy as np
import tensorflow as tf
from tensorflow.keras import layers, models
from sklearn.model_selection import train_test_split
from tensorflow.keras.preprocessing.image import ImageDataGenerator
import matplotlib.pyplot as plt

# Step 1: Data Preparation
# Load the CSV file
CNN = pd.read_csv("CNN_Model_Train_Data.csv")

# Print unique stock codes
print("Count of unique stock codes:", CNN["StockCode"].nunique())
print("First 10 unique stock codes:", CNN["StockCode"].unique()[:10])

# Assuming the CSV has columns: 'ImagePath' and 'StockCode'
image_paths = CNN["ImagePath"].values
labels = CNN["StockCode"].values

# Encode labels to integers
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
labels_encoded = label_encoder.fit_transform(labels)

# Split the data into training, validation, and test sets
X_train, X_temp, y_train, y_temp = train_test_split(image_paths, labels_encoded, test_size=0.3, random_state=42)
X_val, X_test, y_val, y_test = train_test_split(X_temp, y_temp, test_size=0.5, random_state=42)

# Step 2: Build the CNN Model
def build_cnn_model(input_shape, num_classes):
    model = models.Sequential([
        layers.Conv2D(32, (3, 3), activation='relu', input_shape=input_shape),
        layers.MaxPooling2D((2, 2)),
        layers.Conv2D(64, (3, 3), activation='relu'),
        layers.MaxPooling2D((2, 2)),
        layers.Conv2D(128, (3, 3), activation='relu'),
        layers.MaxPooling2D((2, 2)),
        layers.Flatten(),
        layers.Dense(128, activation='relu'),
        layers.Dropout(0.5),
        layers.Dense(num_classes, activation='softmax')
    ])
    return model

# Define input shape and number of classes
input_shape = (128, 128, 3)  # Adjust based on your image size
num_classes = len(label_encoder.classes_)

# Build the model
model = build_cnn_model(input_shape, num_classes)

# Compile the model
model.compile(optimizer='adam',
              loss='sparse_categorical_crossentropy',
              metrics=['accuracy'])

# Step 3: Train the Model
# Data augmentation
train_datagen = ImageDataGenerator(rescale=1./255,
                                  rotation_range=20,
                                  width_shift_range=0.2,
                                  height_shift_range=0.2,
                                  shear_range=0.2,
                                  zoom_range=0.2,
                                  horizontal_flip=True,
                                  fill_mode='nearest')

val_datagen = ImageDataGenerator(rescale=1./255)

# Create data generators
train_generator = train_datagen.flow_from_directory(
    directory='path_to_training_images',  # Replace with your image directory
    target_size=(128, 128),
    batch_size=32,
    class_mode='sparse'
)

val_generator = val_datagen.flow_from_directory(
    directory='path_to_validation_images',  # Replace with your image directory
    target_size=(128, 128),
    batch_size=32,
    class_mode='sparse'
)

# Train the model
history = model.fit(
    train_generator,
    epochs=20,
    validation_data=val_generator,
    callbacks=[tf.keras.callbacks.EarlyStopping(patience=3)]
)

# Step 4: Evaluate the Model
test_generator = val_datagen.flow_from_directory(
    directory='path_to_test_images',  # Replace with your image directory
    target_size=(128, 128),
    batch_size=32,
    class_mode='sparse'
)

test_loss, test_acc = model.evaluate(test_generator)
print(f"Test Accuracy: {test_acc:.4f}")

# Save the model
model.save("product_classification_cnn.h5")

# Step 5: Implement Image-Based Product Detection
from tensorflow.keras.models import load_model
from tensorflow.keras.preprocessing import image

# Load the trained model
model = load_model("product_classification_cnn.h5")

# Function to predict product class
def predict_product_class(img_path):
    img = image.load_img(img_path, target_size=(128, 128))
    img_array = image.img_to_array(img) / 255.0
    img_array = np.expand_dims(img_array, axis=0)
    prediction = model.predict(img_array)
    predicted_class = np.argmax(prediction, axis=1)
    return label_encoder.inverse_transform(predicted_class)[0]

# Example usage
input_image_path = "path_to_input_image.jpg"  # Replace with your input image path
predicted_class = predict_product_class(input_image_path)
print(f"Predicted Class: {predicted_class}")

# Match with vector database (pseudo-code)
# product_description = vector_db.match(predicted_class)
# print(f"Product Description: {product_description}")

Count of unique stock codes: 10
First 10 unique stock codes: ['ö22384^' 'ö22727^' 'ö22112^' 'ö23298^' 'ö20726^' 'ö21034^' 'ö21931^'
 'ö22139^' 'ö22077^' 'ö22423^']

KeyError: 'ImagePath'

In [58]:
import pandas as pd

# Load the dataset
CNN = pd.read_csv("CNN_Model_Train_Data.csv")

# Display the first few rows of the dataset
print(CNN.head())

# Check the 'ImagePath' column
print(CNN['ImagePath'].head())

  StockCode
0   ö22384^
1   ö22727^
2   ö22112^
3   ö23298^
4   ö20726^

KeyError: 'ImagePath'

In [59]:
import pandas as pd

# Load the CSV file
CNN = pd.read_csv("CNN_Model_Train_Data.csv")

# Print the column names to verify
print("Columns in the CSV file:", CNN.columns.tolist())

# Check if the required columns exist
required_columns = ['ImagePath', 'StockCode']  # Adjust these based on your CSV
for col in required_columns:
    if col not in CNN.columns:
        raise KeyError(f"Column '{col}' not found in the CSV file. Please check the column names.")

# If the columns exist, proceed with the rest of the code
image_paths = CNN["ImagePath"].values
labels = CNN["StockCode"].values

# Print unique stock codes
print("Count of unique stock codes:", CNN["StockCode"].nunique())
print("First 10 unique stock codes:", CNN["StockCode"].unique()[:10])

Columns in the CSV file: ['StockCode']

KeyError: "Column 'ImagePath' not found in the CSV file. Please check the column names."

In [61]:
import os
import pandas as pd

# Load the CSV file
CNN = pd.read_csv("CNN_Model_Train_Data.csv")

# Print the column names to verify
print("Columns in the CSV file:", CNN.columns.tolist())

# Check if the required columns exist
if 'StockCode' not in CNN.columns:
    raise KeyError("Column 'StockCode' not found in the CSV file. Please check the column names.")

# Dynamically generate image paths
image_folder = "images"  # Replace with the path to your image directory
image_paths = [os.path.join(image_folder, f"{code}.jpg") for code in CNN["StockCode"]]

# Add the image paths to the DataFrame
CNN["ImagePath"] = image_paths

# Verify the updated DataFrame
print(CNN.head())

# Now you can proceed with the rest of the code
labels = CNN["StockCode"].values

# Print unique stock codes
print("Count of unique stock codes:", CNN["StockCode"].nunique())
print("First 10 unique stock codes:", CNN["StockCode"].unique()[:10])

Columns in the CSV file: ['StockCode']
  StockCode           ImagePath
0   ö22384^  images\ö22384^.jpg
1   ö22727^  images\ö22727^.jpg
2   ö22112^  images\ö22112^.jpg
3   ö23298^  images\ö23298^.jpg
4   ö20726^  images\ö20726^.jpg
Count of unique stock codes: 10
First 10 unique stock codes: ['ö22384^' 'ö22727^' 'ö22112^' 'ö23298^' 'ö20726^' 'ö21034^' 'ö21931^'
 'ö22139^' 'ö22077^' 'ö22423^']

In [63]:
import re

# Function to sanitize filenames
def sanitize_filename(filename):
    # Replace special characters with underscores
    return re.sub(r'[^\w\-_.]', '_', filename)

# Generate sanitized image paths
image_folder = "images"
image_paths = [os.path.join(image_folder, f"{sanitize_filename(code)}.jpg") for code in CNN["StockCode"]]

# Add the image paths to the DataFrame
CNN["ImagePath"] = image_paths

# Verify the updated DataFrame
print(CNN.head())

  StockCode           ImagePath
0   ö22384^  images\ö22384_.jpg
1   ö22727^  images\ö22727_.jpg
2   ö22112^  images\ö22112_.jpg
3   ö23298^  images\ö23298_.jpg
4   ö20726^  images\ö20726_.jpg

In [64]:
import os

# Filter out missing images
valid_indices = [i for i, path in enumerate(image_paths) if os.path.exists(path)]
image_paths = [image_paths[i] for i in valid_indices]
labels = [CNN["StockCode"].values[i] for i in valid_indices]

print(f"Found {len(image_paths)} valid images out of {len(CNN)} entries.")

Found 0 valid images out of 10 entries.